<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container" >
      <a class="navbar-brand" href="#">
        <img class="logo horizontal-logo" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/horizontal-logo.svg" alt="forecastr logo">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/list-mascota" style="margin-top: 8px;">Mascotasssss</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" routerLink="/list-cliente" style="margin-top: 8px;">Clientes</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" routerLink="/list-empleado" style="margin-top: 8px;">Empleados</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" routerLink="/list-producto" style="margin-top: 8px;">Productos</a>
          </li>
         
          <li class="nav-item">
            <a class="nav-link" routerLink="/list-servicio" style="margin-top: 8px;">Servicios</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="/list-articulo" style="margin-top: 8px;">Articulos</a>
          </li>

          <li class="nav-item">
            <a class="nav-link float-end"></a>
          </li>
          
        </ul>
      </div>
    </div>
  </nav>