<div class="container" style="filter:alpha(opacity=50); opacity:0.8;">
    <div class="card">
      <div class="card-body">
        <span class="h3" style="margin-right: 75px;">Listado De Servicios</span>
        <img class="img-fluid" src='./assets/Imagenes/iconoServicio.png'/>
  
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <button type="text" class="btn btn-outline-primary btn-lg btn-space" routerLink='/administracion'>Volver</button>
          <button class="btn btn-outline-dark btn-lg" routerLink='/create-servicio'>Agregar</button>
        </div>
        <h5 style="margin-top: 30px;" *ngIf="servicios.length == 0">No Hay Datos Para Mostrar</h5>
        <table *ngIf='servicios.length > 0' class="table table-striped mt-5">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Precio</th>
              <th>Servicio</th>
              <th>Editar/Eliminar</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let servicio of servicios">
              <td>{{servicio.nombre}}</td>
              <td>{{servicio.precio}}</td>
              <td>{{servicio.descripcion}}</td>
              <td>
                <i class="fas fa-edit fa-lg text-info mr-2" [routerLink]="['/editServicio/', servicio.id]"></i>
  
                <i (click)="eliminarServicio(servicio.id)" class="fas fa-trash-alt fa-lg text-danger"></i>
              </td>
  
            </tr>
  
          </tbody>
        </table>
      </div>
    </div>
  </div>
