<section class="vh-100 gradient-custom">
<div class="container" style="filter:alpha(opacity=50);">
    <div *ngIf="loading" class="d-flex justify-content-center mt-5">
        <app-spinner></app-spinner>
    </div>
    <div *ngIf="!loading"  class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="card" style="margin-top: 150px; ; border-radius: 1rem;">
                <div class="card-body" style="background-color: black ; border-radius: 1rem;">
                    <div class="text-center titulo"  style="font-size: 33px">
                        <p style="color:rgb(255, 255, 255);font-family: Arial, Helvetica, sans-serif white;">Recuperar Contraseña</p> 
                    </div>
                    <form [formGroup]="verificarForm" (ngSubmit)="recuperarPassword()">
                        <div class="mb-3">
                            <input type="text" formControlName="usuario" class="form-control form-control-lg"
                                placeholder="Ingrese Su Correo..">
                            <div class="text-danger"
                                *ngIf="verificarForm.get('usuario')?.hasError('required') && verificarForm.get('usuario')?.touched">
                                El Correo <strong>Es Obligatorio</strong>
                            </div>
                            <div class="text-danger"
                            *ngIf="verificarForm.get('usuario')?.hasError('email') && verificarForm.get('usuario')?.touched">
                                Correo <strong>Invalido</strong>
                            </div>
                        </div>
                        <button routerLink="/login-inicio" class="btn btn-secondary btn-lg">Volver</button>
                        <button type="submit" [disabled]="verificarForm.invalid" class="btn btn-primary btn-lg float-end">Aceptar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</section>