<div class="container" style="filter:alpha(opacity=50); opacity:0.8;">
  <div class="card">
    <div class="card-body">
      <span class="h3">Listado De Clientes</span>
      <img class="img-fluid" src='./assets/Imagenes/clasificacion.png'/>
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button type="text" class="btn btn-outline-primary btn-lg btn-space" routerLink='/administracion'>Volver</button>
        <button class="btn btn-outline-dark btn-lg" routerLink='/create-cliente'>Agregar</button>
      </div>
      <h5 style="margin-top: 30px;" *ngIf="clientes.length == 0">No Hay Datos Para Mostrar</h5>
      <table *ngIf='clientes.length > 0' class="table table-striped mt-5">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Documento</th>
            <th>Direccion</th>
            <th>Correo</th>
            <th>Password</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cliente of clientes">
            <td>{{cliente.nombre}}</td>
            <td>{{cliente.documento}}</td>
            <td>{{cliente.direccion}}</td>
            <td>{{cliente.correo}}</td>
            <td>{{cliente.password}}</td>
            <td>
              <i class="fas fa-edit fa-lg text-info mr-2" [routerLink]="['/editCliente/', cliente.id]"></i>

              <i (click)="eliminarCliente(cliente.id)" class="fas fa-trash-alt fa-lg text-danger"></i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>