<div class="container pt-4" style="filter:alpha(opacity=50); opacity:0.6;">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="card text-center">
                <div class=" card-body">
                    <h3>{{titulo}}
                        <div *ngIf="loading" class="spinner-border float-right" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </h3>
                    <span *ngIf="submitted && createMascota.invalid">Todos los campos son obligatorios</span>
                    <form class="mt-4" [formGroup]="createMascota" (ngSubmit)="agregarEditarMascota()">
                        <div class="row">
                            <div class="col">
                                <input type="text" class="form-control form-control-lg" formControlName="nombre"
                                    placeholder="Nombre">
                            </div>
                            <div class="col">
                                <input type="text" class="form-control form-control-lg" formControlName="tipo"
                                    placeholder="Tipo">
                            </div>
                        </div>

                        <input type="text" class="form-control form-control-lg mt-3" formControlName="color"
                            placeholder="Color">


                        <input type="date" class="form-control form-control-lg mt-3" formControlName="fechaNacimiento"
                            placeholder="Fecha Nacimiento">

                        <div class="mt-3">
                            <button type="text" class="btn btn-secondary btn-lg btn-space"
                                routerLink='/list-mascota'>Volver</button>
                            <button type="submit" class="btn btn-dark btn-lg">Agregar</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>